Repository TrokaBina/react-native-starter-pack: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --no-error-on-unmatched-pattern, eslint, jest --bail --coverage=false --findRelatedTests --passWithNoTests, imagemin-lint-staged

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --check --no-error-on-unmatched-pattern",
    "eslint",
    "jest --bail --coverage=false --findRelatedTests --passWithNoTests"
  ],
  "**/*.{json,yml,yaml,md}": [
    "prettier --check --no-error-on-unmatched-pattern"
  ],
  "**/*.{png,jpeg,jpg,gif}": ["imagemin-lint-staged"]
}

feat(repo): removed deprecated eslintignore
  .eslintignore
  eslint.config.mjs
Due: none

feat(repo): remove unsued lib,update eslint config
  app/(tabs)/_layout.tsx
  components/__tests__/ThemedText-test.tsx
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --check --no-error-on-unmatched-pattern, eslint, jest --bail --coverage=false --findRelatedTests --passWithNoTests

feat(expo): update dependency to fix security issue
  expo-env.d.ts
  package-lock.json
  package.json
Due: prettier --check --no-error-on-unmatched-pattern, eslint, jest --bail --coverage=false --findRelatedTests --passWithNoTests

feat(repo): add pre commit checking and update prettier
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  app.json
  app/(tabs)/_layout.tsx
  app/(tabs)/explore.tsx
  app/(tabs)/index.tsx
  app/+html.tsx
  app/+not-found.tsx
  app/_layout.tsx
  components/Collapsible.tsx
  components/ExternalLink.tsx
  components/HelloWave.tsx
  components/ParallaxScrollView.tsx
  components/ThemedText.tsx
  components/ThemedView.tsx
  components/__tests__/ThemedText-test.tsx
  components/navigation/TabBarIcon.tsx
  constants/Colors.ts
  eslint.config.mjs
  expo-env.d.ts
  hooks/useColorScheme.web.ts
  hooks/useThemeColor.ts
  package.json
  tsconfig.json
Due: prettier --check --no-error-on-unmatched-pattern, eslint, jest --bail --coverage=false --findRelatedTests --passWithNoTests

docs(codeCommit): add docs for code commit and pr
  docs/code-commit-and-pr.md
Due: prettier --check --no-error-on-unmatched-pattern

feat(style): add tamagui as the ui library
  package-lock.json
  package.json
Due: prettier --check --no-error-on-unmatched-pattern

feat(style): add tamagui config and provider
  app/_layout.tsx
  tamagui.config.ts
Due: prettier --check --no-error-on-unmatched-pattern, eslint, jest --bail --coverage=false --findRelatedTests --passWithNoTests

feat(styles): add tamagui config and button component for testing
  .prettierignore
  .tamagui/tamagui.config.json
  app.json
  app/(tabs)/index.tsx
  app/_layout.tsx
  babel.config.js
  eslint.config.mjs
  expo-env.d.ts
  package-lock.json
  package.json
  platform/components/buttons/ButtonContext.tsx
  platform/components/buttons/ButtonFrame.tsx
  platform/components/buttons/ButtonText.tsx
  platform/styles/ColorScheme.ts
  platform/styles/Colors.ts
  platform/styles/types/ColorScheme.types.ts
  tamagui.config.ts
Due: prettier --check --no-error-on-unmatched-pattern, eslint, jest --bail --coverage=false --findRelatedTests --passWithNoTests
